/*
CSS
*/

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Muli:300);

h2{
padding-left: 15px;
color: #216182;
}
/* Button */
.button4 {
 
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    color: #216182;
    padding: 5px 50px 5px 50px;
    border: 1px solid #999;
 
    text-shadow: 0px 1px 1px #666;
    text-decoration: none;
 
    -moz-box-shadow: 0 1px 3px #111;
    -webkit-box-shadow: 0 1px 3px #111;
    box-shadow: 0 1px 3px #111;
 
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
 
    background: #64a724;
    background: -moz-linear-gradient(top, #64a724 0%, #579727 50%, #58982a 51%, #498c25 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#64a724), to(#498c25), color-stop(0.4, #579727), color-stop(0.5, #58982a), color-stop(.9, #498c25), color-stop(0.9, #498c25));
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a724', endColorstr='#498c25', GradientType=0 );
 
    cursor: pointer;
 
}
.button4:hover {
    border: 1px solid #216182;
}
/* Style anchor tag */
a:link {
color: #216182;
font-size: 1.1em;
font-weight:600;
font-family: arial, helvetica, sans-serif;
text-decoration: none;
padding-left: 50px;
}
a:visited {
color: #216182;
font-size:1.1em;
font-weight:600;
font-family:arial, helvetica, sans-serif;
text-decoration: none;
padding-left: 50px;
}
a:hover {
color: #216182;
font-size:1.1em;
font-weight:600;
font-family:arial, helvetica, sans-serif;
text-decoration: none;
padding-left: 50px;
}
a:active {
color: #216182;
font-size:1.1em;
font-weight:600;
font-family:arial, helvetica, sans-serif;
text-decoration: none;
padding-left: 50px;
}
a img {
border: none;
}

h1
{
font-family: 'Oswald', sans-serif;
font-size: 30px;
text-transform: uppercase;
color: #216182;
padding-left: 10px;
}

body{
/*background-color:#efefef;*/
}

/* Centres the page (this could be container)*/
.body {
    display:block;
    margin:0 auto;
    width:576px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #999;
}


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label 
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centres the form within the page */
form 
{
    margin:0 auto;
    width:400px;
  /*  background-color:#efefef;*/
}

/* Styles the text boxes */
input, textarea, file {
	width:340px;
	height:40px;
	background-color:#efefef;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #dedede;
	padding:10px;
	margin-top:3px;
	margin-bottom: 10px;
	/*margin-left: 10px;*/
	font-size:0.9em;
	color:#3a3a3a;
	-moz-box-shadow:    inset 0 0 10px #000000;
   	-webkit-box-shadow: inset 0 0 10px #000000;
   	box-shadow:         inset 0 0 10px #000000;
}

	input:focus, textarea:focus {
		border:1px solid #97d6eb;
	}

/* Styles the text area boxes (message field) */	
textarea 
{
	height:213px;
	background-color: #efefef;
}
select
{
	height:30px;
	width:340px;
}
/* Styles form */
/*#top {
    background-color: #ccc;
    padding-left: 5px;
}*/

/* Styles the submit button */
#submit {
	/* background:url(images/submit.png); */
	width:127px;
	height:48px;
	text-align: center;
	/* text-indent:-9999px; */
	border:none;
	margin-top:20px;
	cursor:pointer;
}

/* Styles the submit hover */	
#submit:hover {
	color:#fff;
	background-color: #216182;
	opacity:0.9;
}

/* Styles the cancel button*/	
#cancel {
	/* background:url(images/cancel.png); */
	width:127px;
	height:28px;
	text-align: center;
	/* text-indent:-9999px; */
	border:none;
	margin-top:20px;
	cursor:pointer;
}

/* Styles the cancel hover */
#cancel:hover {
	color:#fff;
	background-color: #000;
	opacity:0.9;
}