<!DOCTYPE HTML>
	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Lab 6</title>
 	<link type="text/css" rel="stylesheet" href="static/css/styles.css">
 	</head>
 	<body>
	<form action="/googleView" method="post">
		<p><input type="text" name="teammascot" placeholder="Enter a NFL teams Market...Example->Atlanta"/></p>
	<!-- 	<p><input type="text" name="statename" placeholder="Enter State Name"/></p>
      	<p><input type="text" name="statename" placeholder="Enter State Name"/></p> -->
		<p><input type="submit"  name="login" class="button4" value="Submit"/><p>
     </form>
</body>
</html>