<!DOCTYPE HTML>
	<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Lab 6</title>
 	<link type="text/css" rel="stylesheet" href="static/css/styles.css">
 	</head>
 	<body>
 	<h1>Please login user</h1>
	<form action="/loginaction" method="post">
		<p><input type=text name="username" placeholder="Enter Username"></p>
        <p><input type=password name="password" placeholder="Enter Password"></p>
        <p><input type="submit"  name="login" class="button4" value="Submit"/><p>
    </form>
</body>
</html>